<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= image_tag photo_url(photo), height: '32' %></td>
        <td><%= link_to 'Show', photo_path(photo.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
